body {
    margin: 0;
    padding: 0;
   }
   
   header, footer {
    font-size: large;
    text-align: center;
    padding: 0.3em 0;
    background-color: #565264;
    color: #f9f9f9;
   }

   nav { background: #ddd8d4; }
   main { background: #D6CFCB; }

   body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr 150px;
    grid-template-rows: min-content 1fr min-content;
   }
   
   header {
    grid-row: 1;
    grid-column: 1 / 4;
   }

   nav {
    grid-row: 2;
    grid-column: 1 / 2;
    padding: 0 10px;
   }

   main {
    grid-row: 2;
    grid-column: 2 / 4;
    padding: 0 20px;
    font-size: 20px;
   }

   footer {
    grid-row: 3;
    grid-column: 1 / 4;
   }

   #index {
       grid-row: 2;
       grid-column: 1 / 4;
       padding: 0 200px;
       text-align: center;
       font-size: 20px;
   }

   .button {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

  .main_button:hover {
    background-color: #A99985;
    color: white;

  }

  .main_button {
    padding: 15px 32px;
    background-color: #A6808C;
    color: white;
    border-radius: 12px;
    border: 2px solid black; 
  }


  .help_button:hover {
    background-color: #A99985;
    color: white;

  }

  .help_button {
    padding: 10px 15px;
    background-color: #A6808C;
    color: white;
    border-radius: 12px;
    border: 2px solid black; 
    position: absolute;
    right: 15;
    bottom: 40;
  }

  .time {
    font-size: 15px;
    font-weight: bold;
  }
  